body {
    background: rgb(230, 224, 212);
    height: 80vh;
    margin: 0;
    display: grid;
    width: fill;
    place-items: center;
}

box {
    background: red;
    width:100px;
    height: 80px;
    border-radius: 89px;
}