body {
    background: rgb(230, 224, 212);
    height: 80vh;
    margin: 0;
    padding:80px;
    display: grid;
    width: fill;
    place-items: center;
}

.backg {
    
    position: relative;
    background: whitesmoke;
    min-height: 250px;
    min-width:200px;
    max-height: 400px;
    max-width:350px;
    padding:100px;
    border-color: rgb(227, 0, 0);

    h1 {
        color: rgb(215, 15, 132);
        font-family:'Courier New', Courier, monospace;
        margin-top:-70px;
        margin-left:50px;
    
    }

}

.btns {
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    margin-bottom: 60px;
    gap:10px;
    margin-top:360px;
    color:rgb(94, 13, 13);
    max-width:100%;
    max-height:100%;
   
    box-sizing: border-box;
}

button {
    padding:9px;
    color:rgb(215, 15, 132);
    cursor:pointer;
    border-radius:9px;
    background-color:black;
    transition:background-color 0.3s ease;
}
button:hover {
    transform:scale(1.04);
}

@media (max-width: 750px) {
    .btns {
        margin-top: 270px; 
        min-width:50px;         /* Adjust margin for smaller screens */
    }
    
    button {
        flex: 1 0 20%;               /* Allow buttons to take up more width */
        max-width: 5px;
        min-width:4px;            /* Set a smaller max width for smaller screens */
        font-size: 12px;            /* Adjust font size */
    }
}
